/* src/components/NavBar.css */

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding: 1rem;
}

nav a {
    color: blue;
    text-decoration: none;
    padding: 10px 20px;
    position: relative;
    transition: color 0.3s;
}

nav a span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: black;
    transition: width 0.3s;
}

nav a:hover {
    color: black;
}

nav a:hover span {
    width: 100%;
}
